/* :root {
    margin: 0;
} */

.container {
    height: 100%;
    width: 100vw;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px
}

.container a {
    color: var(--color-primary);
}